{% layout "layout.liquid" %}
{% block content %}
<main class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight" id="headers">
    <h1 style="padding-top: 100px;">welcome to angsty blog</h1>
    <h3 style="padding-bottom: 100px;">for all your aesthetically pleasing angsty needs</h3>
  </div>

  <div class="p-2 bd-highlight container-sm">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.imgur.com/mfCkfvf.jpg" class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/ua47jku.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/5wvWAfz.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/d6eUyef.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/oLZxKdQ.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/8X8JE9J.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/GUyWxpP.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/9Mfgv77.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/c5c41nr.jpg
                                                                                                                      "
            class="img-thumbnail d-block w-100" alt="..." />
        </div>

      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight" id="user-buttons">
    {% if loggedIn %}
    <form style="display:none; padding-top: 100px;">
      <a class="btn btn-dark" href="/users/signup">Sign Up</a>
      <a class="btn btn-outline-dark" href="/users/login">Sign In</a>
    </form>
    {% else %}
    <form style="padding-top: 100px;">
      <a class="btn btn-dark" href="/users/signup">Sign Up</a>
      <a class="btn btn-outline-dark" href="/users/login">Sign In</a>
    </form>
    {% endif%}
  </div>
</main>
{% endblock %}