{% layout "layout.liquid" %}
{% block content %}

  <h1>Welcome!</h1>
  <div class="container-sm">
    <div id="carouselExampleControls" class="carousel slide carousel-fade " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img src="https://i.imgur.com/mfCkfvf.jpg" class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/ua47jku.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/5wvWAfz.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/d6eUyef.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/oLZxKdQ.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/8X8JE9J.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/GUyWxpP.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/9Mfgv77.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="https://i.imgur.com/c5c41nr.jpg
                                                                                              " class="img-thumbnail w-30" alt="..."/>
        </div>

      </div>

    </div>
    <form>
      <a class="btn btn-outline-dark" href="/users/signup">Sign Up</a>
      <a class="btn btn-outline-dark" href="/users/login">Sign In</a>
    </form>
  </div>

{% endblock %}
