{% block content %}
  <div class="card mb-4 shadow">
    <div class="card-body">
      <p>{{ post.note }}
      </p>
      <div class="d-flex justify-content-between">
        <small>author:
          {{ post.author.username }}
        </small>
        {% if post.author == userId %}
          <form action="/posts/delete/{{themes.id}}/{{post.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="X">
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
