{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/themes" method="POST">
      <fieldset>
        <legend>Create New Theme</legend>
        <label class="form-label">Title:
        </label>
        <input type="text" name="title" class="form-control">
        <label class="form-label">Background Color:</label>
        <hr>
        <input class="form-control" type="color" name="backgroundColor" class="form-control">
        <label class="form-label">Foreground Color:</label>
        <hr>
        <input class="form-control" type="color" name="foregroundColor" class="form-control">
        <label class="form-label">Text Color:</label>
        <hr>
        <input class="form-control" type="color" name="textColor" class="form-control">
        <label class="form-label">Choose Your Blog Image:</label>
        <hr>

      
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Comfy Cozy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" name="image">
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/UhTQJ0a.jpg">
                <img src="https://i.imgur.com/UhTQJ0at.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/gigVpzit.jpg">
                <img src="https://i.imgur.com/gigVpzit.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/fskqfXWt.jpg">
                <img src="https://i.imgur.com/fskqfXWt.jpg"></input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Critters
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/mfCkfvf.jpg"><img src="https://i.imgur.com/mfCkfvft.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/0QKejrF.jpg"><img src="https://i.imgur.com/0QKejrFt.jpg"></input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Water
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/2FjYELq.jpg"><img src="https://i.imgur.com/2FjYELqt.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/dvrJDGc.jpg"><img src="https://i.imgur.com/dvrJDGct.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/b87CLnu.jpg"><img src="https://i.imgur.com/b87CLnut.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/vOtlK6P.jpg"><img src="https://i.imgur.com/vOtlK6Pt.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/vt8Al5V.jpg"><img src="https://i.imgur.com/vt8Al5Vt.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/Gp2SiAS.jpg"><img src="https://i.imgur.com/Gp2SiASt.jpg"></input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" value="https://i.imgur.com/pGpMkJC.jpg"><img src="https://i.imgur.com/pGpMkJCt.jpg"></input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" valueinput>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueaction</input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueg else here</input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" valueinput>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueaction</input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueg else here</input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" valueinput>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueaction</input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueg else here</input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" valueinput>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueaction</input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueg else here</input>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <input class="dropdown-item" type="radio" name="image" valueinput>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueaction</input>
              </li>
              <li>
                <input class="dropdown-item" type="radio" name="image" valueg else here</input>
              </li>
            </ul>
          </div>
       

        {%- comment -%}
          <input type="text" name="image" class="form-control">
        {%- endcomment -%}

      </fieldset>
      <input type="submit" value="Create Theme" class="btn btn-success">
    </form>
  </div>
{% endblock %}
