{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/themes" method="POST">
      <fieldset>
        <legend>Create New Theme</legend>
        <label class="form-label">Title:
        </label>
        <input type="text" name="title" class="form-control">
        <label class="form-label">Background Color:</label>
        <input class="form-control" type="color" name="backgroundColor" class="form-control">
        <label class="form-label">Foreground Color:</label>
        <input class="form-control" type="color" name="foregroundColor" class="form-control">
        <label class="form-label">Text Color:</label>
        <input class="form-control" type="color" name="textColor" class="form-control">
        <label class="form-label">Image</label>
        <input type="text" name="image" class="form-control">

      </fieldset>
      <input type="submit" value="Create New Theme" class="btn btn-success">
    </form>
  </div>
{% endblock %}
