{% layout 'layout.liquid' %}
{% block content %}

<div class="card-body" style="width: 18rem;">
  <form action="/users/login" method="POST">
    <fieldset class="card-body">
      <legend>Welcome Back, Please log in to continue</legend>
      <label class="form-label">Username:
      </label>
      <input type="text" name="username" placeholder="username" class="form-control" required>
      <label class="form-label">Password</label>
      <input type="password" name="password" placeholder="enter password" class="form-control" required>
    </fieldset>
    <input type="submit" value="Log In" class="btn btn-outline-dark">
  </form>
</div>

{% endblock %}